<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>labelForNSArray:</key>
	<dict>
		<key>Classes</key>
		<array>
			<string>NSCFArray</string>
		</array>
	</dict>
	<key>labelForNSConcreteAttributedString:</key>
	<dict>
		<key>Classes</key>
		<array>
			<string>NSConcreteAttributedString</string>
			<string>NSConcreteMutableAttributedString</string>
		</array>
	</dict>
	<key>labelForNSConcreteHashTable:</key>
	<dict>
		<key>Classes</key>
		<array>
			<string>NSConcreteHashTable</string>
		</array>
	</dict>
	<key>labelForNSDate:</key>
	<dict>
		<key>Classes</key>
		<array>
			<string>__NSCFDate</string>
		</array>
	</dict>
	<key>labelForNSDictionary:</key>
	<dict>
		<key>Classes</key>
		<array>
			<string>NSCFDictionary</string>
		</array>
	</dict>
	<key>labelForNSNumber:</key>
	<dict>
		<key>Classes</key>
		<array>
			<string>NSCFNumber</string>
		</array>
	</dict>
	<key>labelForNSPathStore2:</key>
	<dict>
		<key>Classes</key>
		<array>
			<string>NSPathStore2</string>
		</array>
	</dict>
	<key>labelForNSSet:</key>
	<dict>
		<key>Classes</key>
		<array>
			<string>NSCFSet</string>
		</array>
	</dict>
	<key>labelForNSString:</key>
	<dict>
		<key>Classes</key>
		<array>
			<string>NSCFString</string>
		</array>
	</dict>
</dict>
</plist>
