<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>labelForNSArray:</key>
	<dict>
		<key>Classes</key>
		<array>
			<string>__NSCFArray</string>
			<string>__NSArrayI</string>
			<string>__NSArrayM</string>
		</array>
	</dict>
	<key>labelForNSCFSet:</key>
	<dict>
		<key>Classes</key>
		<array>
			<string>__NSCFSet</string>
		</array>
	</dict>
	<key>labelForNSSet:</key>
	<dict>
		<key>Classes</key>
		<array>
			<string>__NSSetI</string>
			<string>__NSSetM</string>
			<string>__NSOrderedSetI</string>
			<string>__NSOrderedSetM</string>
		</array>
	</dict>
	<key>labelForNSCFDictionary:</key>
	<dict>
		<key>Classes</key>
		<array>
			<string>__NSCFDictionary</string>
		</array>
	</dict>
	<key>labelForNSDictionary:</key>
	<dict>
		<key>Classes</key>
		<array>
			<string>__NSDictionaryI</string>
			<string>__NSDictionaryM</string>
		</array>
	</dict>
	<key>labelForNSConcreteHashTable:</key>
	<dict>
		<key>Classes</key>
		<array>
			<string>NSConcreteHashTable</string>
		</array>
	</dict>
	<key>labelForNSData:</key>
	<dict>
		<key>Classes</key>
		<array>
			<string>__NSCFData</string>
		</array>
	</dict>
	<key>labelForNSConcreteData:</key>
	<dict>
		<key>Classes</key>
		<array>
			<string>NSConcreteData</string>
		</array>
	</dict>
	<key>labelForNSConcreteMutableData:</key>
	<dict>
		<key>Classes</key>
		<array>
			<string>NSConcreteMutableData</string>
		</array>
	</dict>
	<key>labelForNSInlineData:</key>
	<dict>
		<key>Classes</key>
		<array>
			<string>_NSInlineData</string>
		</array>
	</dict>
	<key>labelForNSDate:</key>
	<dict>
		<key>Classes</key>
		<array>
			<string>__NSDate</string>
		</array>
	</dict>
	<key>labelForNSNumber:</key>
	<dict>
		<key>Classes</key>
		<array>
			<string>__NSCFNumber</string>
		</array>
	</dict>
	<key>labelForNSPathStore2:</key>
	<dict>
		<key>Classes</key>
		<array>
			<string>NSPathStore2</string>
		</array>
	</dict>
	<key>labelForNSString:</key>
	<dict>
		<key>Classes</key>
		<array>
			<string>__NSCFString</string>
			<string>__NSCFConstantString</string>
		</array>
	</dict>
	<key>labelForNSConcreteAttributedString:</key>
	<dict>
		<key>Classes</key>
		<array>
			<string>NSConcreteAttributedString</string>
			<string>NSConcreteMutableAttributedString</string>
		</array>
	</dict>
	<key>labelForNSURL:</key>
	<dict>
		<key>Classes</key>
		<array>
			<string>NSURL</string>
		</array>
	</dict>
	<key>labelForOSTransaction:</key>
	<dict>
		<key>Classes</key>
		<array>
			<string>OS_os_transaction</string>
		</array>
	</dict>
	<key>labelFor__NSMallocBlock__:</key>
	<dict>
		<key>Classes</key>
		<array>
			<string>__NSMallocBlock__</string>
		</array>
	</dict>
</dict>
</plist>
